<form id="formulario-login" class="navbar-form navbar-right" role="form">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="usuario-login" type="text" class="form-control" name="usuario-login" value="" placeholder="Usuário">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="senha-login" type="password" class="form-control" name="senha-login" value="" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-outline-primary">Entrar</button>
</form>
